<div class="modalMoreProvider overlay" ng-click="closeModalMoreProvider()"></div>
<div class="panel panel-default modalMoreProvider">
	<div class="panel-body modalMoreProvider modalBody">
		<span ng-click="closeModalMoreProvider()" class="closeModalMoreProvider glyphicon glyphicon-remove"></span>
		<div class="header">{{ activeProvider.company }}</div>
		<img class="logoPriver" src="upload/photo/users/{{ activeProvider.id }}.jpg" width="200px" height="150px" alt="">
		<span class="aboutCompany">{{ activeProvider.about }}</span>

		<div class="sliderProviderGoods">
			<a class="buttons prev" href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></a>
			<div class="viewport">
				<ul class="overview">
					<li><img src="images/icon_2.png" /></li>
					<li><img src="images/icon_2.png" /></li>
					<li><img src="images/icon_2.png" /></li>
					<li><img src="images/icon_2.png" /></li>
					<li><img src="images/icon_2.png" /></li>
					<li><img src="images/icon_2.png" /></li>
				</ul>
			</div>
			<a class="buttons next" href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></a>
		</div>

		<div class="sliderProviderAboutCompany">
			<a class="buttons prev" href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></a>
			<div class="viewport">
				<ul class="overview"></ul>
			</div>
			<a class="buttons next" href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
		</div>

		<ul class="reviews">
											<li><img src="images/markAct.png" width="30px" alt=""></li>
											<li><img src="images/markAct.png" width="30px" alt=""></li>
											<li><img src="images/markAct.png" width="30px" alt=""></li>
											<li><img src="images/markAct.png" width="30px" alt=""></li>
											<li><img src="images/markAct.png" width="30px" alt=""></li>
										</ul>
	</div>